{% extends 'websiteApp/common/base.html' %}

{% load static %}
{% block bootstrap5_extra_head %}
  {{ block.super }}
  <link href="{% static 'page/css/websiteApp/coursework/coursework.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Josh Bedwell - Coursework{% endblock %}

{% block nav_items %}
  <li class="nav-item">
  <a href="https://www.joshbedwell.com" class="nav-link">Home</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/projects" class="nav-link">Projects</a>
  </li>
  <li class="nav-item">
  <a href="#" class="nav-link active" aria-current="page">Course Work</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/resume" class="nav-link">Resume</a>
  </li>
{% endblock %}

{% block content %}
  <div class="p-3">
  <h1>Relevant Coursework</h1>
  <p class="fs-5 col-md-8">
    At <strong>Brigham Young University</strong> I originally majored in Chemical Engineering and then began to minor in
    Computer Science before changing my major to Computer Science. After this I transferred to <strong>Utah Valley
    University</strong> where I am finishing my bachelor's degree in Computer Science. I have achieved a <strong>
    technical certificate in programming</strong> from Utah Valley University.
  </p>
  </div>

  <div class="accordion">

  <div class="accordion-item">
    <h2 class="accordion-header" id="computerSciencePanel-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#computerSciencePanel" aria-expanded="false" aria-controls="computerSciencePanel">
        Computer Science Courses
      </button>
    </h2>
    <div id="computerSciencePanel" class="accordion-collapse collapse" aria-labelledby="computerSciencePanel-heading">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table caption-top">
          <caption>I also acted as a teacher's assistant in highlighted courses</caption>
          <thead class="text-nowrap">
          <tr>
            <th scope="col">School</th>
            <th scope="col">Course #</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr class="table-info">
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 235</td>
            <td>Data Structures</td>
            <td>Object-oriented data structures written in C++</td>
          </tr>
          <tr class="table-info">
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 236</td>
            <td>Discrete Structures</td>
            <td>Grammars, parsing, logic, graphs & graph algorithms</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 240</td>
            <td>Adv. Programming Concepts</td>
            <td>Advanced software development with Java & Linux</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 224</td>
            <td>Computer Systems</td>
            <td>Computer instructions, assembly, C, program analysis</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 202</td>
            <td>Software Eng. Lab 1</td>
            <td>Hands on experience with software engineering tools</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 312</td>
            <td>Algorithm Design & Analysis</td>
            <td>Dynamic & linear programming, various algorithms</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 324</td>
            <td>Systems Programming</td>
            <td>Linux system, multiprocessing, concurrency, caching, sockets</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 340</td>
            <td>Software Design</td>
            <td>Design patterns, representation, refactoring, Q&A testing</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 404</td>
            <td>Ethics & Computers in Society</td>
            <td>Societal impact of computer technology</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 203</td>
            <td>Software Eng. Lab 2</td>
            <td>Hands on experience with software engineering tools</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'Utah-Valley-University-logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CS 2550</td>
            <td>Web Design 1</td>
            <td>Design and development of browser based programs</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="mathPanel-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mathPanel" aria-expanded="false" aria-controls="mathPanel">
        Math Courses
      </button>
    </h2>
    <div id="mathPanel" class="accordion-collapse collapse" aria-labelledby="mathPanel-heading">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table">
          <thead class="text-nowrap">
          <tr>
            <th scope="col">School</th>
            <th scope="col">Course #</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>MATH 112</td>
            <td>Calculus 1</td>
            <td>Differential & integral calculus, limits, continuity</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>MATH 113</td>
            <td>Calculus 2</td>
            <td>Sequences, series, convergence tests, power series</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>MATH 302</td>
            <td>Math for Engineers 1</td>
            <td>Multivariable calculus, linear algebra, numerical methods</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>MATH 303</td>
            <td>Computer Systems</td>
            <td>Ordinary differential equations, partial differential equations</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>STAT 201</td>
            <td>Stats for Engineers & Scientists</td>
            <td>Scientific method, discrete & continuous random variables</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="generalsPanel-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#generalsPanel" aria-expanded="false" aria-controls="generalsPanel">
        General Courses
      </button>
    </h2>
    <div id="generalsPanel" class="accordion-collapse collapse" aria-labelledby="generalsPanel-heading">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table">
          <thead class="text-nowrap">
          <tr>
            <th scope="col">School</th>
            <th scope="col">Course #</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>ENG T 231</td>
            <td>Foundations of Global Leadership</td>
            <td>Individual & organizational leadership, technical perspective</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>ENGL 316</td>
            <td>Technical Communication</td>
            <td>Written, oral & visual technical communication</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="engineeringPanel-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#engineeringPanel" aria-expanded="false" aria-controls="engineeringPanel">
        Engineering Courses
      </button>
    </h2>
    <div id="engineeringPanel" class="accordion-collapse collapse" aria-labelledby="engineeringPanel-heading">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table caption-top">
          <caption>I also acted as a teacher's assistant in highlighted courses</caption>
          <thead class="text-nowrap">
          <tr>
            <th scope="col">School</th>
            <th scope="col">Course #</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CH EN 170</td>
            <td>Intro to Chemical Engineering</td>
            <td>Principals of chemical engineering with lab experience</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CHEM 111</td>
            <td>Principals of Chemistry 1</td>
            <td>Kinetic molecular theory, thermodynamics, electrochemistry</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CH EN 191</td>
            <td>Preprofessional Seminar</td>
            <td>Presentations by faculty & industrial representatives</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CHEM 112</td>
            <td>Principals of Chemistry 2</td>
            <td>Continuation of CHEM 111</td>
          </tr>
          <tr class="table-info">
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CH EN 263</td>
            <td>Computational Tools</td>
            <td>Using structural languages to solve engineering problems</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CHEM 351</td>
            <td>Organic Chemistry 1</td>
            <td>Bonding, structure, and reactions of organic compounds</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CHEM 352</td>
            <td>Organic Chemistry 2</td>
            <td>Organic reactions, mechanisms, synthesis, and spectroscopy</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CH EN 273</td>
            <td>Chemical Process Principals</td>
            <td>Material and energy balances</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CHEM 353</td>
            <td>Organic Chemistry Lab</td>
            <td>Isolation and purification, characterization, syntheses</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CH EN 291</td>
            <td>Career Skills 1</td>
            <td>Professional communication skills for job search</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CH EN 311</td>
            <td>Health, Safety & Environment</td>
            <td>Ethics, leadership, safety, environment, and energy</td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto"></th>
            <td>CH EN 374</td>
            <td>Fluid Mechanics</td>
            <td>Mass, momentum, and energy relations of fluid flow</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  </div>
{% endblock %}