{% extends 'websiteApp/common/base.html' %}

{% load static %}

{% block title %}Josh Bedwell - Coursework{% endblock %}

{% block content %}
  <div class="heading-paragraph">
  <h1>Relevant Coursework</h1>
  <p>
    At <strong>Brigham Young University</strong> I originally majored in Chemical Engineering and then began to minor in
    Computer Science before changing my major to Computer Science. After this I transferred to <strong>Utah Valley
    University</strong> where I am finishing my bachelor's degree in Computer Science. I have achieved a <strong>
    technical certificate in programming</strong> from Utah Valley University.
  </p>
  </div>

  <div class="accordion">

  <div class="accordion-item">
    <h2 class="accordion-header" id="computerSciencePanel-heading">
      <button class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#computerSciencePanel" aria-expanded="false" aria-controls="computerSciencePanel">
        Computer Science Courses
      </button>
    </h2>
    <div id="computerSciencePanel" class="accordion-collapse collapse show" aria-labelledby="computerSciencePanel-heading">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table caption-top">
          <caption>I also acted as a teacher's assistant in highlighted courses</caption>
          <thead class="text-nowrap">
          <tr>
            <th scope="col">School</th>
            <th scope="col">Course #</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          {% for course in computerScienceCourses %}
            <tr {% if course.was_ta %}class="table-info"{% endif %}>
            <th scope="row">{% if course.at_byu %}<img src="{% static 'img/BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto">{% else %}<img src="{% static 'img/Utah-Valley-University-logo.svg' %}" alt="UVU" height="16" width="auto">{% endif %}</th>
            <td>{{ course.num }}</td>
            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="mathPanel-heading">
      <button class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#mathPanel" aria-expanded="false" aria-controls="mathPanel">
        Math Courses
      </button>
    </h2>
    <div id="mathPanel" class="accordion-collapse collapse show" aria-labelledby="mathPanel-heading">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table">
          <thead class="text-nowrap">
          <tr>
            <th scope="col">School</th>
            <th scope="col">Course #</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          {% for course in mathCourses %}
            <tr {% if course.was_ta %}class="table-info"{% endif %}>
            <th scope="row">{% if course.at_byu %}<img src="{% static 'img/BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto">{% else %}<img src="{% static 'img/Utah-Valley-University-logo.svg' %}" alt="UVU" height="16" width="auto">{% endif %}</th>
            <td>{{ course.num }}</td>
            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="generalsPanel-heading">
      <button class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#generalsPanel" aria-expanded="false" aria-controls="generalsPanel">
        General Courses
      </button>
    </h2>
    <div id="generalsPanel" class="accordion-collapse collapse show" aria-labelledby="generalsPanel-heading">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table">
          <thead class="text-nowrap">
          <tr>
            <th scope="col">School</th>
            <th scope="col">Course #</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          {% for course in generalCourses %}
            <tr {% if course.was_ta %}class="table-info"{% endif %}>
            <th scope="row">{% if course.at_byu %}<img src="{% static 'img/BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto">{% else %}<img src="{% static 'img/Utah-Valley-University-logo.svg' %}" alt="UVU" height="16" width="auto">{% endif %}</th>
            <td>{{ course.num }}</td>
            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="engineeringPanel-heading">
      <button class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#engineeringPanel" aria-expanded="false" aria-controls="engineeringPanel">
        Engineering Courses
      </button>
    </h2>
    <div id="engineeringPanel" class="accordion-collapse collapse show" aria-labelledby="engineeringPanel-heading">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table caption-top">
          <caption>I also acted as a teacher's assistant in highlighted courses</caption>
          <thead class="text-nowrap">
          <tr>
            <th scope="col">School</th>
            <th scope="col">Course #</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          {% for course in engineeringCourses %}
            <tr {% if course.was_ta %}class="table-info"{% endif %}>
            <th scope="row">{% if course.at_byu %}<img src="{% static 'img/BYU_Cougars_logo.svg' %}" alt="BYU" height="16" width="auto">{% else %}<img src="{% static 'img/Utah-Valley-University-logo.svg' %}" alt="UVU" height="16" width="auto">{% endif %}</th>
            <td>{{ course.num }}</td>
            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  </div>
{% endblock %}