.contact {
    font-size: 1.3rem;
}

.mobileJobHistory {
    display: none;
}

.workDates {
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .desktopJobHistory {
        display: none;
    }

    .mobileJobHistory {
        display: block;
    }
}
