.diceGroup {
    /*width: 100%;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(6, auto);*/
    /*grid-gap: 6px;*/
    touch-action: manipulation;
}

.dice {
    width: 6rem;
    height: auto;
}