.diceGroup {
    touch-action: manipulation;
}

.dice {
    width: 6rem;
    height: auto;
}

.scoreButton {
    padding: 0.5rem;
    cursor: pointer;
}

#plusButton {
    margin-left: 1rem;
}

#currentScore {
    padding: 0.5rem;
}

#minusButton {
    margin-right: 1rem;
}
