{% extends 'websiteApp/common/base.html' %}

{% load static %}
{% block bootstrap5_extra_head %}
  {{ block.super }}
  <link href="{% static 'page/css/websiteApp/index/index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}

{% block nav_items %}
  <li class="nav-item">
  <a href="#" class="nav-link active" aria-current="page">Home</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/projects" class="nav-link">Projects</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/coursework" class="nav-link">Course Work</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/resume" class="nav-link">Resume</a>
  </li>
{% endblock %}

{% block content %}
  <div class="p-5 mb-4 bg-light rounded-3 border">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-file-earmark-code" viewBox="0 0 16 16">
        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"></path>
        <path d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708z"></path>
      </svg>
      Projects
    </h1>
    <p class="col-md-8 fs-4">
      Check out my previous projects, including: a sudoku solver, a color pallet generator, a Minecraft server status
      checker, a foosball statistics website, and this website!
    </p>
    <a href="https://www.joshbedwell.com/projects" class="btn btn-primary btn-lg" type="button">Projects</a>
  </div>
  </div>

  <div class="row align-items-md-stretch gy-4">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"></path>
          <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"></path>
        </svg>
        Course Work
      </h2>
      <p>
        I have programming relevant coursework from Brigham Young University where I started my education, as well as
        Utah Valley University where I have completed a technical certification in programming. I am currently finishing
        my bachelor's degree in computer science at Utah Valley University.
      </p>
      <a href="https://www.joshbedwell.com/courses" class="btn btn-light" type="button">Course list</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
          <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"></path>
        </svg>
        Resume
      </h2>
      <p>
        I have a variety of work experience from academic privacy research on social media to designing and creating a
        chemical simulation library to working as a teacher's assistant in various college courses related to
        programming.
      </p>
      <a href="https://www.joshbedwell.com/resume" class="btn btn-primary" type="button">Resume</a>
    </div>
  </div>
  </div>
{% endblock %}