{% extends 'websiteApp/common/base.html' %}

{% load static %}
{% block bootstrap5_extra_head %}
  {{ block.super }}
  <link href="{% static 'page/css/websiteApp/index/index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Josh Bedwell{% endblock %}

{% block nav_items %}
  <li class="nav-item">
  <a href="#" class="nav-link active" aria-current="page">Home</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/projects" class="nav-link">Projects</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/coursework" class="nav-link">Course Work</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/resume" class="nav-link">Resume</a>
  </li>
{% endblock %}

{% block content %}
  <div class="p-5 mb-4 bg-light rounded-3 border">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
      <i class="bi bi-file-earmark-code"></i>
      Projects
    </h1>
    <p class="col-md-8 fs-4">
      Check out my previous projects, including: a sudoku solver, a color pallet generator, a Minecraft server status
      checker, a foosball statistics website, and this website!
    </p>
    <a href="https://www.joshbedwell.com/projects" class="btn btn-primary btn-lg" role="button">Projects</a>
  </div>
  </div>

  <div class="row align-items-md-stretch gy-4">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>
        <i class="bi bi-building"></i>
        Course Work
      </h2>
      <p>
        I have programming relevant coursework from Brigham Young University where I started my education, as well as
        Utah Valley University where I have completed a technical certification in programming. I am currently finishing
        my bachelor's degree in computer science at Utah Valley University.
      </p>
      <a href="https://www.joshbedwell.com/coursework" class="btn btn-light" role="button">Course list</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>
        <i class="bi bi-briefcase"></i>
        Resume
      </h2>
      <p>
        I have a variety of work experience from academic privacy research on social media to designing and creating a
        chemical simulation library to working as a teacher's assistant in various college courses related to
        programming.
      </p>
      <a href="https://www.joshbedwell.com/resume" class="btn btn-primary" role="button">Resume</a>
    </div>
  </div>
  </div>
{% endblock %}