.title-name {
  margin-left: 10px;
}

.clickable-div {
  transform: rotate(0);
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.no-double-tap-zoom {
  touch-action: manipulation;
}
