{% extends 'websiteApp/common/base.html' %}

{% load static %}
{% block bootstrap5_extra_head %}
  {{ block.super }}
  <link href="{% static 'page/css/websiteApp/resume/resume.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Josh Bedwell - Resume{% endblock %}

{% block nav_items %}
  <li class="nav-item">
  <a href="https://www.joshbedwell.com" class="nav-link">Home</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/projects" class="nav-link">Projects</a>
  </li>
  <li class="nav-item">
  <a href="https://www.joshbedwell.com/coursework" class="nav-link">Course Work</a>
  </li>
  <li class="nav-item">
  <a href="#" class="nav-link active" aria-current="page">Resume</a>
  </li>
{% endblock %}

{% block content %}
  <div class="p-3">
  <h1>Resume</h1>
  <p class="fs-5 col-md-8">
    I'm a self-driven student with success in research and teaching, currently pursing a bachelor's degree in Computer
    Science. Proficient in several programming languages and many development workflows. Detail-oriented and experienced
    in mobile and web applications, scientific computing, and data structures & algorithms.
  </p>
  </div>

  <div class="row align-items-md-stretch gy-3">
  <div class="col-md-4">
    <div class="h-100 p-4 text-white bg-dark rounded-3 contact">
      <h2>Contact</h2>
      <br>
      <div class="contactInfo">
        <p><span class="fw-bold">Address:</span> Orem, UT 84058</p>
      <p><span class="fw-bold">Phone:</span> <a href="tel:+15128659936" class="text-reset">(512) 983-0736</a></p>
      <p><span class="fw-bold">Email:</span> <a href="mailto:joshbedwell01@gmail.com" class="text-reset">joshbedwell01@gmail.com</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="h-100 p-4 bg-light border rounded-3">
      <h2>Education</h2>
      <div class="table-responsive">
        <table class="table table-borderless">
          <tbody>
          <tr>
            <td class="workDates">
              <strong>May 2023<br>August 2021</strong>
            </td>
            <td>
              <h3>Utah Valley University</h3>
              <h5>2023 - Bachelor's of Science: Computer Science</h5>
              <h5>2021 - Programmer Certificate</h5>
              <p><em>Orem, UT</em><br>Major GPA: 4.00</p>
            </td>
          </tr>
          <tr>
            <td class="workDates">
              <strong>August 2021<br>August 2016</strong>
            </td>
            <td>
              <h3>Brigham Young University</h3>
              <p><em>Provo, UT</em><br>Major GPA: 3.30</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  <div class="h-100 p-4 mt-3 text-white bg-dark rounded-3">
    <h2>Skills</h2>
      <div class="table-responsive">
        <table class="table table-dark table-borderless">
          <tbody>
          <tr>
            <td>Amazon Web Services integration</td>
            <td>API design</td>
            <td>Database programming</td>
          </tr>
          <tr>
            <td>Testing and maintenance</td>
            <td>Bug resolution</td>
            <td>Coding guidelines</td>
          </tr>
          <tr>
            <td>Mobile app design</td>
            <td>Application documentation</td>
            <td>Object-oriented programming</td>
          </tr>
          <tr>
            <td>Software development lifecycle</td>
            <td>Web development</td>
            <td>Version control</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="h-100 p-4 mt-3 bg-light border rounded-3">
  <h2>Work History</h2>
  <div class="table-responsive px-5 desktopJobHistory">
    <table class="table table-borderless">
      <tbody>
      {% for job in jobs %}
        <tr>
        <td class="workDates">
          <strong>{{ job.end_date }}<br>{{ job.start_date }}</strong>
        </td>
        <td>
          <h3>{{ job.title }}</h3>
          <h5>{{ job.work_place }}</h5>
          <ul>
            {% for bullet in job.bullets %}
              <li>{{ bullet }}</li>
            {% endfor %}
          </ul>
        </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="mobileJobHistory mt-3">
  {% for job in jobs %}
      <div>
      <h3>{{ job.title }}</h3>
      <h5>{{ job.work_place }}</h5>
      <p><em>{{ job.start_date }} - {{ job.end_date }}</em></p>
      <ul>
      {% for bullet in job.bullets %}
        <li>{{ bullet }}</li>
      {% endfor %}
      </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}