{% extends 'websiteApp/common/base.html' %}

{% load static %}

{% block title %}Josh Bedwell - Projects{% endblock %}

{% block content %}
  <div class="heading-paragraph">
  <h1>Projects</h1>
  <p>
    Below are some personal projects I have created and some I made for school. Some projects for school or work only
    have descriptions and not links to source code. Some projects have web based demos.
  </p>
  </div>
  {% for project in projects %}
    <div class="project-container">
    <div class="container-fluid">
    <h2>{{ project.name }}</h2>
    {% if project.language %}
      <p class="project-component"><em>{{ project.language }}</em></p>
    {% endif %}
    <p class="project-component">{{ project.description }}</p>
    <div class="d-flex">
      {% if project.source_code_link %}
      <div>
      <a href="{{ project.source_code_link }}" class="btn btn-primary" role="button">Source Code</a>
      </div>
    {% endif %}
    {% if project.demo_link %}
      <div class="ms-2">
      <a href="{{ project.demo_link }}" class="btn btn-primary" role="button">Demo</a>
      </div>
    {% endif %}
    </div>
    </div>
    </div>
  {% endfor %}
{% endblock %}