{% extends 'websiteApp/common/base.html' %}

{% load static %}

{% block title %}Josh Bedwell - Blog{% endblock %}

{% block content %}
  <div class="heading-paragraph">
    <h1>Blog Posts</h1>
  <p>
    Here are posts to my blog on a variety of topics.
  </p>
  </div>

  <div class="blog-posts">
  {% for post in posts %}
    <div class="blogpost-listing">
    <div>
      <a class="text-dark" href="/blog/{{ post.url }}"><h1 class="blogpost-listing-title">{{ post.title }}</h1></a>
      <h5 class="blogpost-listing-date">{{ post.posted_date }}</h5>
      <div class="blogpost-tags">
        {% for tag in post.tags %}
          <span class="blogpost-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
      <div class="blogpost-listing-preview">
        {{ post.preview }}
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}
