{% extends 'websiteApp/common/base.html' %}

{% load static %}

{% block title %}Josh Bedwell - Blog{% endblock %}

{% block content %}
  <div class="heading-paragraph">
    <h1>Blog Posts</h1>
  <p>
    Here are posts to my blog on a variety of topics.
  </p>
  </div>

  <div class="blog-posts">
  {% for post in posts %}
    <div class="blogpost-listing" onclick="window.location.href='/blog/{{ post.url }}';">
      <div class="blogpost-listing-title">{{ post.title }}</div>
      <div class="blogpost-listing-date">{{ post.posted_date }}</div>
      <div class="blogpost-listing-tags">Tags:
        {% for tag in post.tags %}
          <span class="blogpost-listing-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}
