{% extends 'websiteApp/common/base.html' %}

{% load static %}

{% block title %}Josh Bedwell - {{ post.title }}{% endblock %}

{% block content %}
  <div class="blogpost-title">{{ post.title }}</div>
  <div class="blogpost-date">Posted: {{ post.posted_date }}{% if post.edited %} Edited: {{ post.edited_date }}{% endif %}</div>
  <div class="blogpost-tags">
    {% for tag in post.tags %}
      <span class="blogpost-tag">{{ tag }}</span>
    {% endfor %}
  </div>
  <div class="blogpost-content">{{ post.content }}</div>
{% endblock %}
