{% extends 'websiteApp/common/base.html' %}

{% load static %}
{% block bootstrap5_extra_head %}
  {{ block.super }}
  <link href="{% static 'page/css/websiteApp/blog/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Josh Bedwell - {{ post.title }}{% endblock %}

{% block content %}
  <div class="blogpost-title">{{ post.title }}</div>
  <div class="blogpost-date">{{ post.posted_date }}{% if post.edited %}{{ post.edited_date }}{% endif %}</div>
  <div class="blogpost-tags">
    {% for tag in post.tags %}
      <span class="blogpost-tag">{{ tag }}</span>
    {% endfor %}
  </div>
  <div class="blogpost-content">{{ post.content }}</div>
{% endblock %}
